* {
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
}

body {
    background-color:rgb(208,217,224);
}

.container {
    background-color: white;
}
.main-container{
    background-color: aliceblue;
    border-radius: 30px;
    background-image: url(https://www.primebook.in/assets-innerpages/images/mapping-bg.webp);
    background-repeat: no-repeat;
    background-size:110%;
}
h2 {
    text-align: center;
}

h6 {
    text-align: center;

}
::placeholder{
    color: black;
    font-weight: bolder !important;
}
hr{
    width:100%;
    background-color: white;
}
.new1{
    border-top: 1px dashed #007bff;
    background-color: rgb(207, 207, 207);
}
.new2{
    background-color: lightgray;
}
.btn-primary{
    background-color: rgb(52, 52, 148);
    border: none;
}
span{
    font-size: medium;
}
.new{
    background-color: lightgray;
    width: 90%;
    border-top: 1px dashed white;
}